<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngularJS</title>
  </head>
  <body style="margin: 20px">
    <h1 style="text-decoration: underline; text-align: center; color: red">
      AngularJS
    </h1>
    <img
      src="../../images/practical-5/angular.png"
      alt="AngularJS IMAGE"
      style="width: 50%; display: block; margin: auto"
    />
    <p style="width: 80%; margin: auto; margin-top: 20px; text-align: justify">
      AngularJs was originally developed in 2008-2009 by Misko Hevery and Adam
      Abrons and is now maintained by Google. AngularJS is a Javascript
      open-source front-end framework that is mainly used to develop single-page
      web applications(SPAs). It is a continuously growing and expanding
      framework which provides better ways for developing web applications.
    </p>
  </body>
</html>
