<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS3</title>
  </head>
  <body style="margin: 20px">
    <h1 style="text-decoration: underline; text-align: center; color: blue">
      CSS3
    </h1>
    <img
      src="../../images/practical-5/css.png"
      alt="CSS3 IMAGE"
      style="width: 50%; display: block; margin: auto"
    />
    <p style="width: 80%; margin: auto; margin-top: 20px; text-align: justify">
      Cascading Style Sheets, fondly referred to as CSS, is a simply designed
      language intended to simplify the process of making web pages presentable.
      CSS allows you to apply styles to web pages. More importantly, CSS enables
      you to do this independent of the HTML that makes up each web page. CSS is
      easy to learn and understood, but it provides powerful control over the
      presentation of an HTML document.
    </p>
  </body>
</html>
