<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML5</title>
  </head>
  <body style="margin: 20px;">
    <h1 style="text-decoration: underline;text-align: center; color: purple;">HTML5</h1>
    <img
      src="../../images/practical-5/html5.jpg"
      alt="HTML-5 IMAGE"
      style="width: 50%;  display: block; margin: auto;"
    />
    <p style="width:80%; margin: auto; margin-top: 20px; text-align: justify; ">
      HTML stands for Hyper Text Markup Language. It is used to design web pages
      using markup language. HTML is the combination of Hypertext and Markup
      language. Hypertext defines the link between the web pages. Markup
      language is used to define the text document within tag which defines the
      structure of web pages. HTML 5 is the fifth and current version of HTML.
      It has improved the markup available for documents and has introduced
      application programming interfaces(API) and Document Object Model(DOM).
    </p>
  </body>
</html>
