<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript</title>
  </head>
  <body style="margin: 20px">
    <h1 style="text-decoration: underline; text-align: center">JavaScript</h1>
    <img
      src="../../images/practical-5/javascript.png"
      alt="JavaScriptIMAGE"
      style="width: 50%; display: block; margin: auto"
    />
    <div
      style="width: 80%; margin: auto; margin-top: 20px; text-align: justify"
    >
      <p>
        JavaScript is the world most popular lightweight, interpreted compiled
        programming language. It is also known as scripting language for web
        pages. It is well-known for the development of web pages, many
        non-browser environments also use it. JavaScript can be used for
        Client-side developments as well as Server-side developments.
      </p>
      <p>JavaScript can be added to your HTML file in two ways:</p>
      <ul>
        <li>
          Internal JS: We can add JavaScript directly to our HTML file by
          writing the code inside the &lt;script&gt; tag. The &lt;script&gt; tag
          can either be placed inside the &lt;head&gt; or the &lt;body&gt; tag
          according to the requirement.
        </li>
        <li>
          External JS: We can write JavaScript code in other file having an
          extension .js and then link this file inside the &lt;head&gt; tag of
          the HTML file in which we want to add this code.
        </li>
      </ul>
    </div>
  </body>
</html>
